@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  /* local('Libre Baskerville')
    local('Libre-Baskerville'); */
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')
    format('truetype');
  /* local('Libre Baskerville')
    local('Libre-Baskerville'); */
}
@font-face {
  font-family: 'Noto_Serif';
  src: url('../fonts/Noto_Serif/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Special Elite';
  src: url('../fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
  /* local('Libre Baskerville')
    local('Libre-Baskerville'); */
}

* {
  font-family: 'Libre Baskerville', 'Bradley Hand', 'Bradley Hand Bold', serif;
}
/* TODO: remove bradley hand */
h1,
h2,
h3,
h4 {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 1em;
}

footer > div {
  margin: auto;
  padding: 1em;
}

nav {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h4 {
  margin: 0;
  padding: 0.5em;
}

nav ul {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

nav ul > li {
  font-size: 18px;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}
#contact-owner .row {
  display: flex;
  justify-content: space-evenly;
}

#contract-terms ul li {
  padding: 0.25em;
}

#features ul {
  font-size: 22px;
}

#hero {
  margin-top: 85px;
}

#horse-features ul {
  font-size: 20px;
  list-style-type: none;
  margin-top: 0.5em;
  padding: 0;
}

#horse-features ul > li {
  padding: 0.25em;
}

#horse-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5em;
}

#horse-title h1,
#horse-title h3 {
  font-weight: 300;
}

#horse-title span {
  align-items: center;
  display: flex;
}

#horse-title span > i {
  font-size: 18px;
  margin: 0 1em;
}

#horse-records > #tabs:not(.active) {
  display: none;
}

#horse-records ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

#horse-records ul > li {
  border-left: 1px solid black;
  border-radius: 2px;
  border-right: black 1px solid;
  border-top: 1px solid black;
  padding: 0.25em;
}

#horse-records ul > li a {
  color: black;
}

#horse-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main {
  margin: 0 15vw;
}

#main-img img {
  max-width: 100%;
}
#pedigree {
  width: 100%;
}

#pedigree-table {
  margin-top: 0.5em;
}

#thumbnail-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.blue {
  color: blue;
}

.brand img {
  max-width: 150px;
  border-radius: 3px;
}
.foal {
  font-family: 'Libre Baskerville';
  text-align: center;
}

.green {
  color: green;
}

.horse-data h1,
.horse-data h3 {
  display: inline;
  margin: 0px;
}

.mare {
  background-color: rgb(253, 218, 223);
}

.navigation-links {
  margin-right: 5vw;
}

.one-third {
  align-items: center;
  display: flex;
  width: 33%;
}

.pedigree-row {
  display: flex;
  text-align: center;
}

.pedigree-box {
  align-items: center;
  border: 0.5px solid grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  text-align: center;
  /* width: 250px; */
  width: 23vw;
}

.pedigree-outline-left {
  border-left: 1px solid grey;
}

.pedigree-outline-right {
  border-right: 1px solid grey;
}

.pedigree-outline-top {
  border-top: 1px solid grey;
}

.pedigree-outline-bottom {
  border-bottom: 1px solid grey;
}

.progeny {
  align-items: center;
  display: flex;
  justify-content: center;
}

.parents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section h2 {
  color: rgb(119, 119, 119);
  margin: 0;
  padding-top: 1em;
}

.stallion {
  background-color: rgb(172, 219, 248);
}

.subtext {
  color: rgb(80, 80, 80);
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.thumbnail {
  margin: 0.5em;
  max-width: 20vw;
}

.two-thirds {
  width: 66%;
}
